@model WorkLogerCA.Models.Request

@{
    ViewData["Title"] = "Details";
}

<h1>Details</h1>

<div>
    <h4>Request</h4>
    <hr />
    <dl class="row">
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.CreationDateTime)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.CreationDateTime)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.RequestNumber)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.RequestNumber)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.RequestDateTime)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.RequestDateTime)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.NumberDrillingCrew)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.NumberDrillingCrew)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.RequestDescription)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.RequestDescription)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.PlaceOfWork)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.PlaceOfWork)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Note)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Note)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.SendResult)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.SendResult)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.RepeatedRequest)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.RepeatedRequest)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.DateTimeSendRequest)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.DateTimeSendRequest)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.CompletedRequest)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.CompletedRequest)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.ContractorNote)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.ContractorNote)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.RequestState)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.RequestState)
        </dd>
    </dl>
</div>
<div>
    <a asp-action="Edit" asp-route-id="@Model.Id">Edit</a> |
    <a asp-action="Index">Back to List</a>
</div>
