@model IEnumerable<WorkLogerCA.Models.Request>
@{
    ViewData["Title"] = "Заявки";
}
<hr/>
<form>
    <div class="row">
        <h2>Поиск заявки:</h2>
        <div class="col-md-10">
            <input type="text" class="form-control" id="email" placeholder="Введите данные заявки">
        </div>
        <div class="col-md-2">
            <button class="btn btn-success right" style="width: 100%">Найти заявку</button>
        </div>
    </div>
</form>
<hr/>

<h1>Заявки</h1>

<p>
   <a asp-action="Create" class="btn btn-warning">Добавить запись</a>
</p>
<div class="table-responsive">
    <table class="table table-striped">    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.CreationDateTime)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.RequestNumber)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.RequestDateTime)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.NumberDrillingCrew)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.RequestDescription)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.PlaceOfWork)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Note)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.SendResult)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.RepeatedRequest)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.DateTimeSendRequest)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.CompletedRequest)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.ContractorNote)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.RequestState)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.CreationDateTime)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.RequestNumber)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.RequestDateTime)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.NumberDrillingCrew)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.RequestDescription)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.PlaceOfWork)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Note)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.SendResult)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.RepeatedRequest)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.DateTimeSendRequest)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.CompletedRequest)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.ContractorNote)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.RequestState)
            </td>
            <td>
                <a asp-action="Edit" asp-route-id="@item.Id" class="btn btn-sm btn-outline-info" style="width: 100%">Редактировать</a>
                <a asp-action="Delete" asp-route-id="@item.Id" class="btn btn-sm btn-outline-warning mt-1" style="width: 100%">Удалить</a>
            </td>
        </tr>
}
    </tbody>
</table>
</div>
<form method="post">
    <input type="submit" class="btn btn-primary mt-3" name="ExcelExport" value="Экспорт Excel" style="width: 30%">
</form>