@model IEnumerable<WorkLogerCA.Models.Transport>

@{
    ViewData["Title"] = "Index";
}
<hr /> 
<form>
  <div class="row">
      <h2>Поиск транспортного средства:</h2>
    <div class="col-md-10">
      <input type="text" class="form-control" id="email" placeholder="Введите данные транспортного средтсва">
    </div>
    <div class="col-md-2">
      <button class="btn btn-success right" style="width: 100%">Найти запись</button>
    </div>
  </div>
</form> 
<hr />

<h1>Транспортные средства</h1>

<p>
     <a asp-action="Create" class="btn btn-warning">Добавить запись</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.CreationDateTime)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.DriverFullName)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.WaybillNumber)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.DirectRide)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.ReturnRide)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Destination)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.ReturnDestination)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.DetpartureDateTime)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.ArrivalDateTime)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Passengers)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Note)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.CreationDateTime)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.DriverFullName)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.WaybillNumber)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.DirectRide)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.ReturnRide)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Destination)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.ReturnDestination)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.DetpartureDateTime)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.ArrivalDateTime)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Passengers)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Note)
            </td>
            <td>
                <a asp-action="Edit" asp-route-id="@item.Id" class="btn btn-sm btn-outline-info" style="width: 100%">Редактировать</a>
                <a asp-action="Delete" asp-route-id="@item.Id" class="btn btn-sm btn-outline-warning mt-1" style="width: 100%">Удалить</a>
            </td>
        </tr>
}
    </tbody>
</table>
<form method="post">
    <input type="submit" class="btn btn-primary mt-3" name="ExcelExport" value="Экспорт Excel" style="width: 30%">
</form>