@model IEnumerable<WorkLogerCA.Models.Equipment>

@{
    ViewData["Title"] = "Index";
}

<hr /> 
<form>
  <div class="row">
      <h2>Поиск перемещений оборудования:</h2>
    <div class="col-md-10">
      <input type="text" class="form-control"  name="search" placeholder="Введите данные транспортного средтсва">
    </div>
    <div class="col-md-2">
      <button class="btn btn-success right" type="submit" style="width: 100%">Найти запись</button>
    </div>
  </div>
</form> 
<hr />
<h1>Учет перемещения оборудования</h1>
<p>
    <a asp-action="Create" class="btn btn-warning">Добавить запись</a>
</p>
<div class="table-responsive">
    <table class="table table-striped">
        <thead>
        <tr>
            <th>
                    @Html.DisplayNameFor(model => model.CreationDateTime)
            </th>
            <th>
                    @Html.DisplayNameFor(model => model.EquipmentIdentification)
            </th>
            <th>
                    @Html.DisplayNameFor(model => model.FactoryNumber)
            </th>
            <th>
                    @Html.DisplayNameFor(model => model.Count)
            </th>
            <th>
                    @Html.DisplayNameFor(model => model.State)
            </th>
            <th>
                    @Html.DisplayNameFor(model => model.SentFrom)
            </th>
            <th>
                    @Html.DisplayNameFor(model => model.Location)
            </th>
            <th>
                    @Html.DisplayNameFor(model => model.ArrivalDateTime)
            </th>
            <th>
                    @Html.DisplayNameFor(model => model.DepartureDateTime)
            </th>
            <th>
                    @Html.DisplayNameFor(model => model.Document)
            </th>
            <th>
                    @Html.DisplayNameFor(model => model.CertificateExpiryDate)
            </th>
            <th>
                    @Html.DisplayNameFor(model => model.Transport)
            </th>
            <th>
                    @Html.DisplayNameFor(model => model.Request)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
            @foreach (var item in Model)
            {
            <tr>
                <td>
                        @Html.DisplayFor(modelItem => item.CreationDateTime)
                </td>
                <td>
                        @Html.DisplayFor(modelItem => item.EquipmentIdentification)
                </td>
                <td>
                        @Html.DisplayFor(modelItem => item.FactoryNumber)
                </td>
                <td>
                        @Html.DisplayFor(modelItem => item.Count)
                </td>
                <td>
                        @Html.DisplayFor(modelItem => item.State)
                </td>
                <td>
                        @Html.DisplayFor(modelItem => item.SentFrom)
                </td>
                <td>
                        @Html.DisplayFor(modelItem => item.Location)
                </td>
                <td>
                        @Html.DisplayFor(modelItem => item.ArrivalDateTime)
                </td>
                <td>
                        @Html.DisplayFor(modelItem => item.DepartureDateTime)
                </td>
                <td>
                        @Html.DisplayFor(modelItem => item.Document)
                </td>
                <td>
                        @Html.DisplayFor(modelItem => item.CertificateExpiryDate)
                </td>
                <td>
                        @Html.DisplayFor(modelItem => item.Transport.Destination)
                </td>
                <td>
                        @Html.DisplayFor(modelItem => item.Request.PlaceOfWork)
                </td>
                <td>
                    <a asp-action="Edit" asp-route-id="@item.Id" class="btn btn-sm btn-outline-info" style="width: 100%">Редактировать</a>
                    <a asp-action="Delete" asp-route-id="@item.Id" class="btn btn-sm btn-outline-warning mt-1" style="width: 100%">Удалить</a>
                </td>
            </tr>
            }
    </tbody>
</table>
</div>
<form method="post">
    <input type="submit" class="btn btn-primary mt-3" name="ExcelExport" value="Экспорт Excel" style="width: 30%">
</form>